* {
  font-family: "Xarrovv",sans-serif; }

#aboutShop {
  text-align: center;
  font-size: 24px;
  margin: 10px; }

.ordered {
  border: 3px solid transparent;
  background-color: rgba(32, 140, 21, 0.81); }

h1 {
  font-family: "Xarrovv",sans-serif;
  font-weight: bolder;
  margin: 0; }

.startingText h1 {
  position: absolute;
  top: 10%;
  font-size: 5vw;
  left: 10%; }

.startingText button {
  position: absolute;
  top: 50%;
  left: 75%;
  width: 35%;
  font-size: 2vw; }

.container {
  position: relative; }

.container img {
  width: 100%;
  height: auto;
  margin: 20px 0; }

.loadingText {
  clear: both;
  font-size: 45px; }

.backIcon {
  float: left;
  margin: 20px;
  width: 90px;
  height: 40px;
  z-index: 400;
  position: relative;
  cursor: pointer;
  transition: 0.7s; }

.backIcon:hover {
  transform: scale(0.96);
  opacity: 60%;
  padding: 5px;
  border-radius: 20px; }

.mainBacket {
  cursor: pointer;
  transition: 0.5s; }

.mainBacket:hover {
  transform: scale(0.95);
  opacity: 80%; }

.emptyBacket {
  display: block;
  width: 80%;
  align-items: center;
  font-size: xx-large;
  margin: 30px auto;
  text-align: center;
  color: #88959a;
  font-family: "Arial Black",sans-serif; }

.emptyBacket img {
  cursor: pointer;
  display: block;
  margin: 5px  auto; }

@media (max-width: 1000px) {
  .oneProduct {
    width: 45%; }
  .mainBacket {
    margin-right: 50px; } }

@media (max-width: 750px) {
  .loadingText {
    display: none;
    color: white; }
  #productInformation img {
    width: 95%;
    clear: both; }
  #productInformation .short {
    clear: both; }
  #backetPage .return {
    display: none; }
  #backetPage .total {
    clear: both;
    width: 98%; }
  .mainBacket {
    margin-right: 50px; }
  .category {
    width: 100%;
    text-align: center;
    position: inherit; }
  .container img {
    height: 200px; }
  #header {
    height: 50px; }
  #header .mainLogo {
    height: 40px; }
  #header h1 {
    font-size: 30px; }
  #header .mainBacket {
    height: 40px;
    width: 55px;
    margin-right: 20px; }
  #goodsList {
    margin-left: 0;
    left: 0; }
  .oneProduct img {
    width: 60%; }
  .oneProduct {
    width: 95%; }
  .category li {
    float: left; } }

.btn-default {
  background-repeat: no-repeat;
  float: right;
  background-color: transparent;
  background-size: 40px;
  width: 40px;
  height: 40px;
  padding: 1px;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 20px;
  border: 3px solid transparent;
  transition: 0.7s; }

.loadingImg {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center; }

.loadingImg img {
  object-fit: contain; }

.startingText {
  position: absolute;
  top: 50%;
  left: 15%;
  height: 40%;
  width: 70%;
  border: 2px solid white;
  color: white;
  font-family: "Helvetica",sans-serif;
  font-weight: bold; }

#header {
  height: 70px;
  z-index: 2000;
  width: 105%;
  margin: -8px;
  position: fixed;
  padding: 5px 15px;
  background-color: #fcd800; }
  #header .mainLogo {
    height: 60px;
    width: 60px;
    float: left; }
  #header h1 {
    font-size: 42px;
    font-family: "Arial Black",sans-serif;
    float: left;
    color: #000;
    text-decoration: none;
    margin-top: 0;
    transition: 0.5s; }
  #header h1:hover {
    color: #6b4327;
    transition: 1s;
    transform: scale(0.94); }
  #header .mainBacket {
    height: 60px;
    width: 80px;
    float: right;
    margin: 5px 25px;
    margin-right: 80px; }

#main {
  padding-top: 80px;
  padding-bottom: 50px; }

#footer {
  height: 40px;
  background-color: #e2e1de;
  position: fixed;
  font-family: "Xarrovv",sans-serif;
  left: 0;
  bottom: 0;
  border-top: 2px solid black;
  width: 100%;
  font-size: 21px;
  font-weight: lighter;
  padding-left: 20px;
  padding-right: 30px; }

#footer img {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  transition: 0.7s;
  padding: 2px;
  border: 3px solid transparent;
  float: right;
  margin-right: 10px; }

#footer a:hover img {
  transform: scale(0.93);
  padding: 2px;
  border: 3px solid #6b4327; }

#aboutShopStartButton {
  width: 30%;
  height: 10%; }

.container .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  height: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bolder;
  border: none;
  cursor: pointer; }

.category {
  padding: 7px;
  position: absolute;
  overflow: auto;
  top: 70px;
  left: 5px;
  width: 190px;
  background-color: #e2e1de; }

#goodsList {
  margin-left: 200px; }

.category li {
  width: 100%; }

.bande {
  float: right;
  font-size: 15px;
  z-index: 30; }

#category span {
  cursor: pointer;
  padding: 5px;
  clear: both;
  width: 100%;
  font-size: 22px; }

.category a {
  font-family: "Arial",sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 22px;
  text-decoration: none; }

.category span:focus {
  background-color: #fcd800; }

.category span:hover {
  text-decoration: underline;
  font-weight: lighter;
  background-color: #fff4b0;
  opacity: 50%; }

.myActive {
  background-color: #fcd800; }

#goodsList div {
  align-items: center;
  text-align: center;
  margin-bottom: 50px; }

.oneProduct {
  display: block;
  width: 30%;
  margin: 0 1%;
  float: left;
  height: 450px; }
  .oneProduct .obj {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0; }
    .oneProduct .obj img {
      display: block;
      border: 3px solid #88959a;
      width: 100%;
      height: 100%;
      margin: 0;
      transition: 1s;
      cursor: pointer;
      object-fit: contain; }
  .oneProduct img:hover {
    border-color: #d2b29a;
    transform: scale(0.95); }
  .oneProduct h3 {
    cursor: pointer;
    font-size: x-large;
    font-weight: bolder;
    height: 40px;
    width: 70%;
    float: left;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000; }
  .oneProduct h3:hover {
    text-decoration: underline;
    text-decoration-color: #d2b29a;
    opacity: 50%; }
  .oneProduct .price {
    left: 0;
    font-size: x-large;
    color: #6b4327;
    float: left;
    font-weight: lighter;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-left: 20px; }
    .oneProduct .price .sp {
      float: right;
      text-decoration: line-through;
      text-decoration-color: red;
      color: #88959a;
      font-weight: lighter;
      font-size: 18px;
      margin: 5px; }
  .oneProduct .sale {
    font-weight: bold;
    float: left;
    margin-left: 10px; }

.btn-default:hover {
  transform: scale(1.1);
  border: 3px solid #d2b29a; }

#productInformation {
  margin: 30px; }
  #productInformation .short {
    position: relative;
    float: top; }
  #productInformation img {
    width: 30%;
    height: auto;
    float: left;
    margin: 0 40px;
    padding: 5px; }
  #productInformation .detailImg:hover {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: brightness(115%) contrast(115%); }
  #productInformation p {
    font-family: "Xarrovv",sans-serif;
    font-size: large;
    font-weight: lighter;
    color: #88959a;
    text-decoration: none; }
    #productInformation p span {
      color: #88959a;
      font-size: 20px; }
  #productInformation .price {
    display: block;
    margin: 0;
    color: #6b4327;
    text-decoration-color: #d2b29a;
    text-decoration: none;
    font-family: "Arial Black",sans-serif;
    font-size: 34px; }
  #productInformation .price::after {
    content: ' $';
    text-decoration: none;
    text-decoration-color: transparent;
    color: #000; }
  #productInformation h4 {
    font-size: 46px;
    font-family: "Arial Black",sans-serif; }
  #productInformation .descDiv {
    font-size: 28px;
    width: 85%;
    text-decoration: none;
    margin: 10px;
    clear: both; }
    #productInformation .descDiv .desc {
      font-size: 26px;
      font-family: "Arial",sans-serif;
      color: #000; }

#backetPage {
  padding-bottom: 200px; }
  #backetPage .productInBacket {
    clear: both;
    margin: 10px 35px;
    cursor: pointer; }
    #backetPage .productInBacket .img {
      float: left;
      width: 130px;
      height: 130px;
      border: 1px solid #e2e1de;
      border-radius: 10px;
      margin: 10px; }
      #backetPage .productInBacket .img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain; }
    #backetPage .productInBacket h3 {
      padding-top: 10px;
      font-weight: bold;
      font-size: xx-large; }
    #backetPage .productInBacket p {
      color: #6b4327;
      font-size: x-large;
      text-decoration-color: #88959a;
      text-decoration: underline; }
      #backetPage .productInBacket p span {
        font-size: medium;
        color: #000;
        text-decoration: none; }
  #backetPage .btn-group {
    float: right;
    margin-right: 35px;
    margin-top: 20px;
    width: 100px; }
    #backetPage .btn-group .btn {
      font-size: x-large;
      font-weight: bold; }
    #backetPage .btn-group .btn:disabled {
      color: #000; }
  #backetPage .inform {
    font-size: x-large;
    font-weight: lighter;
    display: block;
    width: 55%;
    font-family: "Arial",sans-serif;
    color: #88959a;
    text-align: center;
    margin: 70px auto;
    border: 2px solid #d2b29a; }
  #backetPage .return {
    float: left;
    margin: 20px;
    color: #88959a;
    width: 150px;
    height: 120px;
    font-weight: lighter;
    font-size: medium;
    text-align: center;
    transition: 0.5s; }
    #backetPage .return img {
      width: 100%;
      height: 90%;
      border-radius: 10px; }
  #backetPage .return:hover {
    transform: scale(0.95); }
  #backetPage .total {
    float: right;
    width: 40%;
    padding: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e2e1de;
    font-size: xx-large;
    font-weight: bolder; }
    #backetPage .total #totalSum {
      padding: 7px;
      float: right;
      background-color: #fcd800;
      opacity: 80%;
      border-radius: 10px;
      font-weight: bold;
      font-family: "Arial Black",sans-serif;
      margin-right: 5%; }
    #backetPage .total .btn {
      clear: both;
      float: none;
      display: block;
      width: auto;
      margin: 5px auto;
      margin-top: 30px;
      font-size: xx-large; }

#myModal {
  margin-top: 80px; }

